/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "./boards/shields/klink_kbd/common.keymap"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        reset {
            bindings = <&sys_reset>;
            key-positions = <0 39 40>;
            timeout-ms = <1000>;
        };

        tolayer0 {
            bindings = <&to 0>;
            key-positions = <39 40>;
            timeout-ms = <100>;
        };

        tolayer1 {
            bindings = <&to 1>;
            key-positions = <13 39>;
            timeout-ms = <2000>;
        };

        tolayer2 {
            bindings = <&to 2>;
            key-positions = <13 40>;
            timeout-ms = <2000>;
        };

        tolayer3 {
            bindings = <&to 3>;
            key-positions = <13 40 23>;
            timeout-ms = <2000>;
        };

        layer0flower {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <25 11>;
            timeout-ms = <1000>;
        };

        layer0sub {
            bindings = <&kp MINUS>;
            key-positions = <25 12>;
        };

        layer0equal {
            bindings = <&kp EQUAL>;
            key-positions = <25 24>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC         &kp Q             &kp W         &kp E  &kp R        &kp T  &kp Y        &kp U  &kp I      &kp O          &kp P              &mt RIGHT_PARENTHESIS LEFT_PARENTHESIS  &kp BACKSPACE
&kp TAB         &kp A             &kp S         &kp D  &kp F        &kp G  &kp H        &kp J  &kp K      &kp L          &kp SEMICOLON      &kp ENTER
&kp LEFT_SHIFT  &kp Z             &kp X         &kp C  &kp V        &kp B  &kp N        &kp M  &kp COMMA  &kp DOT        &kp SLASH          &kp RIGHT_SHIFT
                &kp LEFT_CONTROL  &kp LEFT_ALT         &lt 1 SPACE         &lt 2 SPACE                    &kp RIGHT_ALT  &kp RIGHT_CONTROL
            >;
        };

        layer1 {
            bindings = <
&to 0         &kp NUMBER_1   &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &trans       &trans      &kp STAR   &kp AT    &kp PERCENT       &mt RIGHT_BRACKET LEFT_BRACKET  &kp MINUS
&trans        &kp NUMBER_6   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans       &kp HASH    &kp AMPS   &kp EXCL  &kp SINGLE_QUOTE  &kp EQUAL
&kp CAPSLOCK  &kp BACKSPACE  &trans        &trans        &kp CARET     &trans        &kp GRAVE    &kp DOLLAR  &kp COMMA  &kp DOT   &kp BACKSLASH     &trans
              &trans         &trans                      &lt 0 SPACE                 &lt 2 ENTER                         &trans    &trans
            >;
        };

        layer2 {
            bindings = <
&to 0   &trans  &trans  &kp F2  &trans  &trans  &trans  &trans    &kp UP    &trans     &trans  &trans  &trans
&trans  &trans  &kp F7  &kp F8  &kp F9  &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &mo 3   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans     &trans  &trans
        &trans  &trans          &trans          &trans                      &trans     &trans
            >;
        };

        layer3 {
            bindings = <
&to 0   &trans  &trans  &trans  &trans  &trans  &trans  &trans    &kp PAGE_UP    &trans   &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp HOME  &kp PAGE_DOWN  &kp END  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans         &trans   &trans  &trans
        &trans  &trans          &trans          &trans                           &trans   &trans
            >;
        };
    };
};
